.menu-section {
  display: flex;
  padding: 100px 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-container {
  display: flex;
  width: 100%;
  max-width: 1366px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.menu-title-container {
  position: relative;
  display: flex;
  width: 100%;
  padding-bottom: 25px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-title-container h2 {
  font-size: 55px;
  font-weight: 700;
  font-family: "Teko", sans-serif;
  color: #131313;
  text-transform: uppercase;
}

.menu-title-container h2 span {
  color: rgb(237, 180, 8);
}

.menu-list-collection {
  display: flex;
  width: 100%;
  grid-auto-columns: 1fr;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.products-list {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.menu-product-container {
  position: relative;
  display: flex;
  overflow: hidden;
  padding-top: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12.5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px -12.5px;
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease;
  color: rgb(19, 19, 19);
  text-decoration: none;
}

.menu-product-container:hover {
  box-shadow: none;
}

.menu-product-wrapper {
  position: absolute;
  inset: 0%;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
  border-radius: 25px;
}

.product-info-container {
  position: absolute;
  inset: 0%;
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

.product-info-wrapper {
  position: relative;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6.25px;
  background-color: rgb(19, 19, 19);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 50px -25px;
  color: white;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.5s ease;
  transition-delay: 0.15s;
  z-index: 3;
}

.menu-product-container:hover .product-info-wrapper {
  opacity: 1;
  transform: scale(1);
}

.product-info-wrapper h3 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Teko", sans-serif;
  color: white;
  text-transform: uppercase;
}

.product-info-wrapper p {
  max-width: 300px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.5);
}

.product-tags-wrapper {
  display: flex;
  margin-top: 12.5px;
  justify-content: center;
  place-items: flex-end center;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  gap: 0px 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.product-tag-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  padding-top: 25px;
  padding-right: 5px;
  padding-left: 5px;
  align-items: center;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: auto;
  max-width: 30px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: default;
  color: transparent;
  transition: max-width 0.1s ease, padding 0.3s ease, color 0.1s ease;
}

.tag-vegetarian {
  background: var(--goldenrod-color);
}
.tag-vegan {
  background: var(--lime-green-color);
}
.tag-spicy {
  background: var(--red-color);
}

.tag:hover {
  padding: 0 12px;
  max-width: 200px;
  border-radius: 25px;
  color: white;
}

.product-image {
  position: absolute;
  width: 100%;
  height: 80%;
  flex: 1 1 0%;
  border-radius: 12.5px;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 50px -25px;
  transition: height 0.3s ease;
  z-index: 2;
}

.menu-product-container:hover .product-image {
  height: 100%;
}

.price-tag {
  position: absolute;
  inset: 25px 25px auto auto;
  border-radius: 25px;
  background-color: var(--goldenrod-color);
  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.price-tag span {
  display: flex;
  height: 50px;
  padding-top: 5px;
  padding-right: 25px;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
  font-family: "Teko", sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-product-container:hover .price-tag {
  opacity: 0;
  transform: scale(0);
}

.product-name-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  position: absolute;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  text-align: center;
  flex: 1 1 0%;
  font-size: 30px;
  font-weight: 700;
  font-family: "Teko", sans-serif;
  color: #131313;
  text-transform: uppercase;
  transition: transform 0.3s ease;
  position: absolute;
}

.menu-product-container:hover .product-name {
  transform: translateY(100%);
}

.menu-button-container {
  display: grid;
  width: 100%;
  padding-top: 50px;
  grid-auto-columns: 1fr;
  gap: 25px;
  grid-template: ". Area" / 1fr 1fr 1fr;
}

.menu-button-container button {
  display: flex;
  grid-column: 2;
  height: 50px;
  padding-right: 25px;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  background-color: var(--goldenrod-color);
  transition-property: opacity, background-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;
  color: white;
  font-size: 12.5px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-button-container button:hover {
  background-color: var(--gold-color);
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up.in-view {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 991px) {
  .menu-title-container {
    max-width: 100%;
  }

  .menu-list-collection {
    grid-template-columns: 1fr 1fr;
  }

  .products-list {
    grid-template-columns: 1fr 1fr;
  }

  .menu-product-container {
    background-position: 50% 50%;
    background-size: cover;
  }

  .prodcut-info-container {
    padding: 0px;
  }

  .product-info-wrapper {
    inset: 0%;
  }

  .menu-button-container {
    grid-template-areas: "Area";
    grid-template-columns: 1fr;
  }

  .menu-button-container button {
    grid-column: 1;
  }
}

@media screen and (max-width: 767px) {
  .menu-section {
    padding-right: 25px;
    padding-left: 25px;
  }

  .menu-list-collection {
    gap: 25px;
  }

  .products-list {
    gap: 25px;
    grid-template-columns: 1fr;
  }

  .prodcut-info-container {
    padding: 25px;
  }

  .product-info-wrapper {
    inset: 0%;
  }

  .menu-button-container button {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .menu-section {
    padding-right: 12.5px;
    padding-left: 12.5px;
  }

  .menu-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .menu-list-collection {
    grid-template-columns: 1fr;
  }

  .products-list {
    grid-template-columns: 1fr;
  }

  .menu-product-container {
    padding-right: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 12.5px;
  }

  .prodcut-info-container {
    padding: 0px;
  }

  .product-info-wrapper {
    inset: 0%;
  }

  .product-tag-wrapper {
    justify-content: center;
  }
}
