.about-section {
  display: flex;
  padding: 100px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d833c63be860b4ccf1ff1a3_bottom-corner.png"),
    url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d833c70cf90c938844a318a_top-corner.png"),
    url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d835ae4be860b13e720ae87_top-corner-red.jpg"),
    url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d835a8d28a6012bdb72350c_bottom-corner-red.jpg");
  background-position: 0% 100%, 100% 0%, 100% 0%, 0% 100%;
  background-size: 35%, 35%, 25%, 25%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}

.about-container {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 1366px;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: flex-end;
  grid-auto-columns: 1fr;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.reservation-form-container {
  position: relative;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12.5px;
  background-color: var(--goldenrod-color);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px -12.5px;
  opacity: 0;
  transform: translateX(-100px);
  animation: slideLeft 1.2s ease forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.form-title {
  display: flex;
  height: 10px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  color: rgb(247, 247, 247);
  line-height: 10px;
  font-size: 12.5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.reservation-form-block {
  width: 100%;
  margin-bottom: 0px;
}

.conntact-form {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: repeat(3, 1fr);
}

.conntact-form input:nth-child(n + 4) {
  grid-column: 1 / -1;
}

.conntact-form input {
  height: 50px;
  margin-bottom: 0px;
  padding-right: 25px;
  padding-left: 25px;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.conntact-form input:focus {
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
}

.conntact-form input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.reservation-phone::-webkit-outer-spin-button,
.reservation-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.conntact-form button {
  display: flex;
  height: 50px;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  background-color: rgb(19, 19, 19);
  font-family: Blinker;
  color: whitesmoke;
  font-size: 12.5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.conntact-form button:hover {
  background-color: rgb(43, 43, 43);
}

.about-info-container {
  position: relative;
  display: flex;
  padding: 45px 50px 50px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12.5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px -12.5px;
  opacity: 0;
  transform: translateX(100px);
  animation: slideRight 1.2s ease forwards;
}

@keyframes slideRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-info-text {
  display: flex;
  padding-bottom: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-title {
  font-family: "Teko", sans-serif;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  color: #131313;
}

.about-us-title span {
  font-family: "Teko", sans-serif;
  color: #edb408;
}

.title-divider {
  width: 50px;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 25px;
  background-color: var(--goldenrod-color);
}

.title-divider p {
  text-align: center;
  font-size: 15px;
}

.title-divider p b span {
  text-transform: uppercase;
  color: #edb408;
}

.about-newsletter-block {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  justify-content: center;
}

.about-newsletter-form {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.about-newsletter-form input {
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  padding-right: 75px;
  padding-left: 25px;
  border: none;
  border-radius: 25px;
  background-color: rgba(19, 19, 19, 0.1);
}

.about-newsletter-form input:focus {
  background-color: rgba(19, 19, 19, 0.2);
  outline: none;
}

.about-newsletter-form input::placeholder {
  color: rgba(19, 19, 19, 0.5);
}

.newsletter-form-button {
  position: absolute;
  inset: 0% 0% 0% auto;
  width: 50px;
  height: 50px;
  flex: 0 0 auto;
  border-radius: 25px;
  background-color: var(--goldenrod-color);
  background-image: url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d7663aece0c576922bb84dc_send.svg");
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  border: none;
  transition: background-color 0.2s ease;
  font-size: 0px;
  line-height: 0px;
  cursor: pointer;
}

.newsletter-form-button:hover {
  background-color: var(--gold-color);
}


@media screen and (max-width: 1440px) {
  .about-section {
    padding: 80px 50px;
  }
  .reservation-form-container {
    padding: 30px;
  }
  .reservation-form-container .form-title {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .conntact-form input,
  .conntact-form button {
    min-height: 40px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1290px) {
  .about-section {
    padding: 75px 45px;
  }
  .reservation-form-container {
    padding: 75px;
  }
  .reservation-form-container .form-title {
    margin-bottom: 16px;
    font-size: 11.5px;
  }
  .conntact-form input,
  .conntact-form button {
    min-height: 38px;
    padding: 8px 18px;
  }
}

@media screen and (max-width: 1190px) {
  .about-section {
    padding: 70px 40px;
  }
  .reservation-form-container {
    padding: 65px 35px;
  }
  .reservation-form-container .form-title {
    margin-bottom: 14px;
    font-size: 11px;
  }
  .conntact-form input,
  .conntact-form button {
    min-height: 36px;
    padding: 8px 15px;
  }
}

@media screen and (max-width: 1090px) {
  .about-section {
    padding: 65px 35px;
  }
  .reservation-form-container {
    padding: 85px 35px;
  }
  .reservation-form-container .form-title {
    margin-bottom: 12px;
    font-size: 10.5px;
  }
  .conntact-form input,
  .conntact-form button {
    min-height: 34px;
    padding: 6px 15px;
  }
}

@media screen and (max-width: 1050px) {
  .about-section {
    background-size: 50%, 50%, 50%, 50%;
    padding: 80px 30px;
  }

  .about-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .reservation-form-container {
    width: 100%;
    padding: 40px;
  }

  .about-info-container {
    width: 100%;
    padding: 40px;
  }

  .conntact-form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 50px);
  }
}

@media screen and (max-width: 767px) {
  .about-section {
    padding: 60px 20px;
  }

  .about-container {
    row-gap: 20px;
  }

  .reservation-form-container {
    padding: 30px 20px;
  }

  .about-info-container {
    padding: 30px 20px;
  }

  .about-newsletter-block {
    width: 100%;
  }

  .about-newsletter-form {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .about-section {
    padding: 40px 15px;
  }

  .reservation-form-container {
    padding: 25px 15px;
  }

  .about-info-container {
    padding: 25px 15px;
  }

  .about-newsletter-form input {
    padding-right: 60px;
    padding-left: 15px;
  }

  .about-newsletter-form {
    flex-direction: column;
    align-items: stretch;
  }

  .newsletter-form-button {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }

  .about-info-text p {
    font-size: 14px;
    text-align: center;
  }
}
