.contact-section {
  position: relative;
  z-index: 0;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    ),
    url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d74c5bd7a6dfa748822e36a_concrete_seamless.png");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto;
  background-repeat: repeat, repeat;
  background-attachment: scroll, scroll;
}

.map-container {
  position: relative;
  display: flex;
  min-height: 440px;
  flex-direction: column;
  align-items: flex-start;
}

.contact-social-container {
  position: absolute;
  inset: auto 0% 50px;
  z-index: 4;
  display: flex;
  justify-content: center;
}

.contact-social-container button {
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: none;
  background-color: rgb(19, 19, 19);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.contact-social-container button img {
  width: 20px;
  height: 20px;
}

.contact-social-container button:hover {
  background-color: rgb(43, 43, 43);
}

.map {
  flex: 1 1 0%;
}

.map img {
  width: 100%;
  height: 100%;
}

.contact-form-container {
  display: flex;
  padding: 45px 50px 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 35, 35);
}

.contact-form-container h6 {
  display: flex;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  font-size: 12.5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(247, 247, 247);
  line-height: 10px;
}

.contact-form-block {
  width: 100%;
  margin-bottom: 0px;
}

.contact-form {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.contact-form input {
  height: 50px;
  margin-bottom: 0px;
  padding-right: 25px;
  padding-left: 25px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.contact-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.contact-form input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

.contact-form textarea {
  height: 110px;
  margin-bottom: 0px;
  padding: 12.5px 18.75px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  resize: none;
}

.contact-form textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

.contact-form button {
  display: flex;
  height: 50px;
  padding-right: 25px;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  background-color: var(--goldenrod-color);
  transition-property: opacity, background-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;
  color: white;
  font-size: 12.5px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--gold-color);
}

@media screen and (max-width: 991px) {
  .contact-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
  }

  .contact-form-container {
    right: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact-form-container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .contact-form button {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .contact-form-container {
    width: 100%;
    padding-right: 12.5px;
    padding-left: 12.5px;
  }
}
