.partners-section {
  display: grid;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  grid-auto-columns: 1fr;
  gap: 25px 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.partner-logo-wrapper {
  display: flex;
  height: 75px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(19, 19, 19, 0.25);
  border-radius: 12.5px;
  opacity: 0.25;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  cursor: pointer;
}

.partner-logo-wrapper:hover {
  opacity: 0.5;
}

.partner-logo-wrapper img {
  height: 25px;
}
