.partners-section {
  display: grid;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 25px 50px;
}

.partner-logo-wrapper {
  display: flex;
  height: 70px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(19, 19, 19, 0.25);
  border-radius: 12.5px;
  opacity: 0.25;
  transition: opacity 0.2s ease, transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.partner-logo-wrapper:hover {
  opacity: 0.5;
  transform: scale(1.03);
}

.partner-logo-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .partners-section {
    padding-right: 25px;
    padding-left: 25px;
    gap: 25px;
  }
}

@media screen and (max-width: 479px) {
  .partners-section {
    padding-right: 12.5px;
    padding-left: 12.5px;
    gap: 12.5px;
  }
}
