.navbar-container {
  position: relative;
  z-index: 1000;
  display: flex;
  width: 100%;
  padding: 25px 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  grid-auto-columns: 1fr;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d6b9bcc068031b0bd901c96_chalkboard-texture.jpg");
  background-position: 0px 0px 50% 0%;
  background-size: auto, cover;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px 0px;
}

.barnd-container {
  display: flex;
  min-width: 200px;
  align-items: center;
}

.brand-logo {
  width: 50px;
  height: 50px;
  margin-right: 12.5px;
  border-radius: 25px;
}

.brand-text {
  display: flex;
  padding-top: 5px;
  align-items: center;
  color: whitesmoke;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
}

.nav-menu {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links li {
  display: flex;
  height: 50px;
  padding: 0px 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  background-color: transparent;
  transition: opacity 0.2s ease;
  color: whitesmoke;
  font-size: 12.5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar-links li:hover {
  opacity: 0.5;
}

.navbar-button-wrapper {
  display: flex;
  min-width: 200px;
  justify-content: flex-end;
  gap: 10px;
}

.navbar-button {
  display: flex;
  height: 50px;
  min-width: 170px;
  padding: 0px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: var(--goldenrod-color);
  transition-property: opacity, background-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.icon-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s ease;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.navbar-button span {
  padding-left: 10px;
  color: whitesmoke;
}

.navbar-mobile-button {
  display: none;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: var(--goldenrod-color);
  transition-property: opacity, background-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;
  cursor: pointer;
}

.navbar-mobile-button img {
  height: 20px;
}

.navbar-button:hover,
.navbar-mobile-button:hover {
  background-color: var(--gold-color);
}
