.gallery-section {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 1fr;
  gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.lightbox-link {
  position: relative;
  display: flex;
  padding-top: 100%;
  padding-right: 50px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: 0px 0px;
  background-size: cover;
  cursor: pointer;
}

.gallery-overlay {
  position: absolute;
  inset: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d7262b6ea8b469c9e7ec9b4_zoom.svg");
  background-position: 50% 50%;
  background-size: 50px;
  background-repeat: no-repeat;
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.lightbox-link:hover .gallery-overlay {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 991px) {
  .gallery-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .gallery-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
}
