.footer-section {
  display: grid;
  padding: 25px 50px;
  place-items: center stretch;
  grid-auto-columns: 1fr;
  gap: 50px 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background-image: linear-gradient(rgb(19, 19, 19), rgb(19, 19, 19)),
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d6b9bcc068031b0bd901c96_chalkboard-texture.jpg");
  background-position: 0px 0px, 0px 0px, 50% 100%;
  background-size: auto, auto, cover;
  background-repeat: repeat, repeat, no-repeat;
  background-attachment: scroll, scroll, fixed;
}

.contact-info-wrapper {
  z-index: 5000;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 25px;
}

.contact-info-text-wrapper {
  display: flex;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  align-items: center;
  align-self: center;
}

.contact-info-text-wrapper img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contact-info-text-wrapper span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-text {
  padding-left: 25px;
  justify-content: flex-end;
  align-items: center;
  color: rgba(247, 247, 247, 0.5);
  text-align: right;
  font-size: 12.5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-text span {
  color: rgb(237, 180, 8);
}

@media screen and (max-width: 991px) {
  .footer-section {
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .contact-info-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .contact-info-text-wrapper {
    padding-right: 0px;
  }

  .footer-navbar {
    justify-content: center;
  }

  .footer-text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-section {
    padding-right: 25px;
    padding-left: 25px;
  }

  .contact-info-wrapper {
    left: 25px;
    right: 25px;
    bottom: 25px;
    height: auto;
    justify-content: center;
  }

  .footer-navbar {
    flex-wrap: wrap;
  }

  .footer-text {
    padding-right: 25px;
  }
}

@media screen and (max-width: 479px) {
  .footer-section {
    padding-right: 12.5px;
    padding-left: 12.5px;
  }

  .contact-info-wrapper {
    left: 12.5px;
    right: 12.5px;
    bottom: 12.5px;
  }
}
