.testimonials-section {
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d74c5bd7a6dfa748822e36a_concrete_seamless.png");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto;
}

.testimonials-container {
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.testimonials-wrapper {
  position: relative;
  display: flex;
  padding: 25px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12.5px;
  background-color: white;
  background-image: url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d6e32f0141661f3baea1de6_smile..svg");
  background-position: 50% 50%;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 50px -25px;
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease;
  text-align: center;
}

.testimonials-wrapper:hover {
  box-shadow: none;
}

.quote-photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 25px -25px;
}

.quote-sign {
  position: absolute;
  width: 62px;
  height: 50px;
  max-width: 100%;
  inset: 25px 25px auto auto;
  padding: 5px;
}

.testimonials-quote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-left: 3px solid var(--goldenrod-color);
  border-right: 3px solid var(--goldenrod-color);
  font-size: 20px;
  font-weight: 400;
  color: #131313;
  line-height: 1.6;
}

.quote-name {
  width: 100%;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  font-size: 30px;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  color: #131313;
  text-transform: capitalize;
}

.quote-name span {
  color: var(--goldenrod-color);
}

.section-suntitle {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12.5px;
  font-weight: 600;
  color: var(--goldenrod-color);
  letter-spacing: 2px;
  text-transform: uppercase;
}
