.facts-section {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 1fr;
  gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: whitesmoke;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto;
}

.facts-wrapper {
  position: relative;
  display: flex;
  padding-top: 100%;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.facts-text-wrapper {
  position: absolute;
  inset: 29%;
  z-index: 100;
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--goldenrod-color);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px 0px;
}

.facts-number {
  padding-bottom: 0px;
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.7;
}

.facts-text {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12.5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.facts-photo-wrapper {
  position: absolute;
  inset: 15%;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px 0px;
}

.facts-photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .facts-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .facts-wrapper {
    position: relative;
  }
}

@media screen and (max-width: 479px) {
  .facts-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
}
