:root {
  --dark-goldenrod-color: #ba9022;
  --goldenrod-color: #f2a60c;
  --gold-color: #f2c746;
  --red-color: #ed0808;
  --lime-green-color: #10c90a;
}

* {
  font-family: "Blinker", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html,
body,
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
}

a {
  text-decoration: none;
  color: inherit;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: var(--scroll-track-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background: var(--goldenrod-color);
}
