:root {
  --dark-goldenrod-color: #ba9022;
  --goldenrod-color: #f2a60c;
  --gold-color: #f2c746;
  --red-color: #ed0808;
  --lime-green-color: #10c90a;
}

* {
  font-family: "Blinker", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
