.not-found-section {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  grid-auto-columns: 1fr;
  gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d6b9bcc068031b0bd901c96_chalkboard-texture.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
  transition-property: opacity;
  transition-duration: 650ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--white);
}

.not-found-container {
  position: relative;
  display: flex;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
  background-image: url("https://cdn.prod.website-files.com/5d5ffc98b6d68de20504403c/5d6d1a0c068031a4f2962180_header-bg.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.not-found-text-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  flex: 1 1 0%;
  grid-auto-columns: 1fr;
  gap: 0px;
  grid-template: "Area Area-2 Area-3" / 1fr 1fr 1fr;
}

.not-found-vertical-divider {
  width: 1px;
  min-height: 50px;
  margin-right: 25px;
  margin-left: 25px;
  flex: 1 1 0%;
  background-color: rgba(255, 255, 255, 0.05);
}

.not-found-div-block {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-direction: column;
  align-items: center;
}

.not-found-div-block h6 {
  z-index: 5;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(247, 247, 247, 0.5);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.not-found-div-block h6 span {
  color: rgb(237, 180, 8);
}

.not-found-div-block h1 {
  font-family: "Teko", sans-serif;
  font-size: 135px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.not-found-div-block h1 span {
  color: rgb(237, 180, 8);
}

.not-found-div-block button {
  display: flex;
  height: 50px;
  padding-right: 25px;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;
  background-color: var(--goldenrod-color);
  transition-property: opacity, background-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;
  color: white;
  font-size: 12.5px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.not-found-div-block button:hover {
  background-color: var(--gold-color);
}

@media screen and (max-width: 1020px) {
  .not-found-div-block h1 {
    font-size: 120px;
  }
}

@media screen and (max-width: 991px) {
  .not-found-vertical-divider {
    min-height: 100px;
  }

  .not-found-div-block h1 {
    font-size: 100px;
  }
}

@media screen and (max-width: 771px) {
  .not-found-container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .not-found-text-container {
    grid-template: "Area" "Area-2" "Area-3" / 1fr;
  }

  .not-found-div-block h1 {
    font-size: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .not-found-container {
    padding-right: 12.5px;
    padding-left: 12.5px;
  }

  .not-found-div-block h1 {
    font-size: 40px;
  }
}
